    /* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

* {
    font-family: 'Lato', sans-serif;
}

a,
p,
ul,
ol,
li {
    font-size: 18px;
}

h6 {
    font-size: 22px;
}

.white {
    position: fixed;
    z-index: 1000;
    height: 75px;
    top: 0;
    left: 0;
}

.icon-contact{
    color: white;

}
nav ul a,
nav .brand-logo {
    color: white;
}

span{
    display: block;
}
.navi{
    height: 90px;
    margin-bottom:-50px;
}
#index-banner {
    margin-top: 50px;
}

.nav-text {
    font-size: 14px;
}

.dropdown-content {
    overflow: visible !important;
}

.dropOption {
    width: 300px;
}

.material-icons {
    color: #424242;
}

.parallax-container {
    height: 1200px;
}

#message1 {
    -webkit-animation-duration: 5s;
}

#message2 {
    -webkit-animation-duration: 5s;
}

.states {
    width: 70px;
    height: auto;
    margin: 15px;
}

.panel {
    font-size: 24px;
    display: none;
}

.processes {
/*    background-color: rgba(2, 41, 115, .7);*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.steps-headers {
    display: inline;
    float: left;
}

.states:hover {
    opacity: .6;
    margin-bottom: 0px;
}

#process{
    background-color: rgba(12, 12, 12, .3);
}


.input-field input[type=text]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

.input-field input[type=tel]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

#textarea1:focus {
    border-bottom: 1px white;
    -webkit-box-shadow: 0 1px 0 0 white;
    -moz-box-shadow: 0 1px 0 0 white;
    box-shadow: 0 1px 0 0 white;
}


.input-field .prefix.active {
    color: white;
}

p {
    line-height: 1.5rem;
}

.jumbotext {
    line-height: 2rem;
    background-color: rgba(2, 12,12, .5);
    color: white;
}

.jumbotext2 {
    line-height: 5rem;
    background-color: rgba(2, 12,12, .5);
    color: white;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 720px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.myIcons {
    /*    display: block;
    margin: 0 auto;*/
    border: 0;
    float: center;
    margin-right: 15px;
    height: 62px;
    width: auto;
}

.iconsContact {
    border: 0;
    float: center;
    margin-right: 15px;
    height: 30px;
    width: auto;
}

#footer-img {
    margin-top: -18px;
}

.logos-area {
    background-color: rgba(231, 231, 231, .8);
    padding: 20px;
    height: auto;
}

.logos-container {
    height: 500px;
    background-color: rgba(2, 41, 115, .3);
}

.logos-img {
    height: 75px;
    width: auto;
}

figure {
    border-radius: 5px;
    height: 150px;
    width: 200px;
    padding: 20px;
    background: rgba(250, 250, 250, .9);
    overflow: hidden;
    float: right;
}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}


.client-list-small {
    display: none;
}
@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    
    #index-banner .section {
        top: 10%;
    }
    #logos-display{
        display:none;
    }
    #process{
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
    
    .parallax-container {
        position: relative;
        overflow: hidden;
        height: 600px;
    }
    
    .weoffer {
        margin-bottom: 50px;
    }
    
    .client-logos {
        background-color: rgba(231, 231, 231, .8);
        height: 1000px;
    }
    
    .logos-img {
        width: 150px;
        height: auto;
    }
    
    .logos-title {
        font-size: 24px;
        margin-top: -100px;
    }
    
    .logos-container {
        height: 1000px;
    }
    
    .logos-area {
        margin-top: -200px;
        height: 510px;
    }

    #logos-display{
        display:none;
    }
    
    #form-help {
        margin-left: 4px;
        margin-right: 4px;
    }

    #process{
        display: none;
    }
}
    @media screen and (max-width: 1100px) {
        #energy-list {
            display: none;
        }
        #mep-list {
            display: none;
        }
    }
    
    .icon-block {
        padding: 0 15px;
    }
    
    .icon-block .material-icons {
        font-size: inherit;
    }
    
    footer.page-footer {
        margin: 0;
    }
    
    .client-list-small {
        display: none;
    }
    /* Zoom In #1 */
    
    .hover01 figure img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    
    .hover01 figure:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    
    .page-footer {
        background-color: rgb(114, 164, 177);
    }
    
    #nycview {
        -webkit-animation: zoom 5s infinite;
        animation: zoom 5s infinite;
        background: url("css/images/nycview.jpg") center center fixed no-repeat;
    }
    
    @-webkit-keyframes zoom {
        0%,
        100% {
            background-size: 100%;
        }
        50% {
            background-size: 125%;
        }
    }
    
    @keyframes zoom {
        0%,
        100% {
            background-size: 100%;
        }
        50% {
            background-size: 125%;
        }
    }
